/* HEADER */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

/* CONTACT */


/* PROJECT CARDS */


/* MAIN */


/* FOOTER */
footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin-right: 10px;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
}

footer nav ul li a:hover {
  text-decoration: underline;
}